global
    maxconn 4000
    nbthread 1

defaults
    mode http
    timeout connect 1s
    timeout client 30s
    timeout server 30s
    timeout http-keep-alive 30s
    timeout http-request 5s
    option http-keep-alive
    option dontlognull
    no log

frontend http_in
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option http-keep-alive
    server api0 api-0:8000 maxconn 1000
    server api1 api-1:8000 maxconn 1000
