global
    maxconn 12000
    nbthread 1

defaults
    mode tcp
    timeout connect 50ms
    timeout client 2s
    timeout server 2s
    retries 0
    option dontlognull
    no log

frontend tcp_in
    bind *:9999 backlog 4096
    maxconn 12000
    default_backend apis

backend apis
    balance roundrobin
    default-server maxconn 3000
    server api0 api-0:8000
    server api1 api-1:8000
